*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  color: #ddd;
  background-color: #0f0f0f;
  letter-spacing: 1px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;  
  align-items: center;
  overflow-x: hidden;
}

header{
  width: 100%;
}

.navbar{
  margin: .1% 1%;
  padding: 12px clamp(20px, 5vm, 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: -5%;
  border-bottom: 1.5px solid #ddd;
  backdrop-filter: blur(10px);
}

.logo{
  align-items: flex-start;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}

.logo span{
  color: #00f5c4dd;
}

.nav-links{
  display: flex;
  align-items: flex-end;
  gap: 40px;
  transition: all 0.3s ease;
}

.nav-links a{
  color: #ddd;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-links a:hover{
  color: #00f5c4dd;
}

.nav-links a::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #00f5c4dd;
  transition: 0.3s;
}

.nav-links a:hover::after{
  width: 100%;
}

.menu{
  display: none;
  cursor: pointer;
}

.menu div{
  width: 25px;
  height: 3px;
  background-color: #ddd;
  margin: 5px 0;
}

@media(max-width: 768px){
  .menu{
    display: block;
  }
  .nav-links{
    position: absolute;
    top: 6%;
    right: 0;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
    display: none;
    transition: all 0.3s ease;
  }
  .nav-links a{
    margin: 5px 0;
  }
  .nav-links.active{
    display: flex;
  }
}

@media screen and (max-width: 1024px){
  .navbar{
    padding: 10px 20px;
    /* margin-bottom: 10px; */
  }
  .nav-links{
    gap: 20px;
  }
  .nav-links a{
    font-size: 16px;
  }
  .logo{
    font-size: 22px;
  }
}

main{
  padding: 2% 0;
}

section{
  margin: 2% 0 0 5%;
  padding:80px 10%;
}

.home{
  display: flex;
  gap: 20%;
}

.hero{
  display: flex;
  flex-direction: column;
}

.hero-text h1{
  color: #00f5c4dd;
  font-size: 54px;
}

.role{
  color: #999;
  font-size: 24px;
  font-weight: 700;
  margin-top: 5%;
}

.description{
  border-top: 1.5px solid #ddd;
  max-width: 520px;
  margin-top: 5%;
  padding-top: 10%;
}

.hero-buttons{
  display: flex;
  align-items: center;
  gap: 5%;
  margin-top: 10%;
}

.hero-buttons a{
  height: 50px;
  width: 140px;
  border: 2px solid #00f5c4dd;
  border-radius: 3px;
  font-weight: 540;
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: #ddd;
  transition: 0.3s;
}

.hero-buttons #Projects{
  width: 160px;
}

.hero-buttons a:hover{
  color: #000;
  background-color: #00f5c4dd;
  border: 2px solid #00f5c4dd;
  transform: translateY(-2px);
  box-shadow:0 6px 15px rgba(0,0,0,0.3);
}

.hero-image img{
  object-fit: cover;
  border: 2px solid #00f5c4dd;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 245, 196, 0.5);
  transition: 0.3s ease;
}

@media screen and (max-width: 768px){
  .hero{
    flex-direction: column;
  }
}

.about{
  display: flex;
  flex-direction: column;
}

.about a{
  margin-top: 5%;
  width: 180px;
  height: 50px;
  border: 2px solid #00f5c4dd;
  border-radius: 3px;
  font-weight: 540;
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: #ddd;
  transition: 0.3s;
}

.about a:hover{
  color: #000;
  background-color: #00f5c4dd;
  border: 2px solid #00f5c4dd;
  transform: translateY(-2px);
  box-shadow:0 6px 15px rgba(0,0,0,0.3);
}
